/*----------Exercise-1----------*/
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition:  3s;
}

.ex-1-square:hover{
    background-color: red;
}
/*----------Exercise-1----------*/

/*----------Exercise-2----------*/
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 3s;
}

.ex-2-square:active{
    width: 500px;
}
/*----------Exercise-2----------*/

/*----------Exercise-3----------*/
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 3s;
}

.ex-3-square:hover{
    border-radius: 100px;
}
/*----------Exercise-3----------*/

/*----------Exercise-4----------*/
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 5s;
}

.ex-4-square:hover{
    opacity: 0%;
}
/*----------Exercise-4----------*/

/*----------Exercise-5----------*/
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 5s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}
/*----------Exercise-5----------*/

/*----------Exercise-6----------*/
.ex-6-img{
    width: 500px;
    transition: filter;
}

.ex-6-img:hover{
    filter: grayscale(1);
}
/*----------Exercise-6----------*/

/*----------Exercise-7----------*/
.ex-7-img{
    width: 500px;
    transition: filter 3s;
}

.ex-7-img:hover{
    filter: grayscale(1) sepia(1);
}
/*----------Exercise-7----------*/

/*----------Exercise-8----------*/
.ex-8-img{
    width: 500px;
    transition: 3s;
}

.ex-8-img:hover{
    filter: saturate(5) blur(3px);
    border-radius: 30px;
}
/*----------Exercise-8----------*/

/*----------Exercise-9----------*/
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 3s;
}

.ex-9-img:hover{
    filter:hue-rotate(360deg) invert(1%);
    border-radius: 20px;
    transform: scale(2);
}
/*----------Exercise-9----------*/

/*----------Exercise-10----------*/
.ex-10-icon {
    font-size: 60px;
    animation-name: spin ;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes spin {

    0% {
        transform: rotate(360deg);
    }
}
/*----------Exercise-10----------*/

/*----------Exercise-11----------*/
.ex-11-icon{
    font-size: 60px;
}

.ex-11-icon:hover {
    animation-name: spin-2 ;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin-2{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotateZ(300deg);
    }
    100%{
        transform: rotate(0);
    }
}
/*----------Exercise-11----------*/

/*----------Exercise-12-13----------*/
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 40px;
    height: 20px;
}

.ex-12-button .ex-12-bottom-white{
    animation: white-line 2s linear infinite;
}
@keyframes white-line{
    0% {
        right: 10%;
    }
    50% {
        right: calc(100% - 40px);
    }
    100% {
        right: 10%;
    }
}

.ex-13-button .ex-13-top-white{
    animation: white-line-top 2s linear infinite;
}

@keyframes white-line-top{
    0%{
        left: 10%;
    }
    25%{
        left: 20%;
    }
    50%{
        left: 40%;
    }
    75%{
        left: 80%;}
    100%{
        left: 100%;
    }
}

.ex-13-button .ex-13-bottom-white{
    animation: white-line-bottom 2s linear infinite;
}

@keyframes white-line-bottom{
    0%{
        right: 10%;
    }
    25%{
        right: 20%;
    }
    50%{
        right: 40%;
    }
    75%{
        right: 80%;}
    100%{
        right: 100%;
    }
}
/*----------Exercise-12-13----------*/
